page-home {
    ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 80px !important;  //any size
        max-height: 80px !important; //any size
        }

        // .imagePlace img {
        //     position:absolute;
        //     left: 0;
        //     right: 0;
        //     margin:0 auto;
        //     top:50%;
        //     transform:translateY(-50%);
        // }
}
